<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block aside %}
            <ul>
            <li><a href="{{ path('accueil')}}" >Accueil</a></li>
            <li><a href="{{ path('blog')}}" >Blog</a></li>
            <li><a href="{{ path('contact')}}" >Contact</a></li>
            <ul>
                <li><a href="{{ path('contactCity', {'city': 'Montpellier'})}}" >Montpellier</a></li>
                <li><a href="{{ path('contactCity', {'city': 'Sète'})}}" >Sète</a></li>
            </ul>
            <li><a href="{{ path('article')}}" >Créer un article</a></li>
            </ul>
        {% endblock %}
    </body>
</html>
